### Gradle ###
.gradle
/build/
Challenge.iml
### Java ###
*.class

.idea/
bin/
.classpath
.settings/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.project
